*~
*.iml
.idea
.nrepl*
target
.DS_Store
.rebel_readline_history
.lein-*

code/resources/public/ui/css/*
!code/resources/public/ui/css/nuvla-ui.css

code/resources/public/ui/js/*
code/resources/public/ui/index.html
code/resources/public/ui/version

code/node_modules

code/.shadow-cljs
code/.clj-kondo/.cache

*.bck

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
versions.sh

package-lock.json

.scannerwork
.eastwood
code/out
code/test/e2e/loggedin/local_dev.spec.ts
