*~
*.iml
.idea
.nrepl*
target
.DS_Store
.rebel_readline_history
.lein-*

code/resources/public/ui/css/*
!code/resources/public/ui/css/nuvla-ui.css

code/resources/public/ui/js/*
code/resources/public/ui/index.html
code/resources/public/ui/version

code/node_modules

code/.shadow-cljs
code/.clj-kondo/.cache

*.bck

release.properties

package-lock.json

.scannerwork
.eastwood
code/out
code/test/e2e/loggedin/local_dev.spec.ts

code/migration-storybook.log
code/stories-output-js
code/storybook-static

