*~
*.iml
.idea
.nrepl*
target
.DS_Store
.rebel_readline_history
.lein-*

code/resources/public/ui/css/semantic.min.css
code/resources/public/ui/css/themes
code/resources/public/ui/css/codemirror.css
code/resources/public/ui/css/foldgutter.css
code/resources/public/ui/css/react-datepicker.min.css
code/resources/public/ui/css/version.css
code/resources/public/ui/css/dialog.css
code/resources/public/ui/css/matchesonscrollbar.css

code/resources/public/ui/js/*

code/node_modules

code/.shadow-cljs

*.bck

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
versions.sh
