*~
target
node_modules
*.iml
.idea
.shadow-cljs
.lein*
.nrepl*
.DS_Store

resources/public/ui/css/codemirror.css
resources/public/ui/css/foldgutter.css
resources/public/ui/css/react-datepicker.min.css
resources/public/ui/css/semantic.min.css
resources/public/ui/css/themes/
resources/public/ui/css/version.css
resources/public/ui/js/

