*~
*.iml
.idea
.nrepl*
target
.DS_Store
.rebel_readline_history
.lein-*

resources/public/ui/css/semantic.min.css
resources/public/ui/css/themes
resources/public/ui/css/codemirror.css
resources/public/ui/css/foldgutter.css
resources/public/ui/css/react-datepicker.min.css
resources/public/ui/css/version.css

resources/public/ui/js/*

node_modules

.shadow-cljs
