;; shadow-cljs configuration
{:lein              {:profile "+scljs"}

 :dev-http          {8280 {:root             "resources/public"
                           :push-state/index "ui/index.html"}}

 :open-file-command ["idea" :pwd "--line" :line :file]

 :repositories      {"sixsq-community-releases" {:url "https://nexus.sixsq.com/content/repositories/releases-community-rhel7/"}}

 :builds            {:nuvla-ui {:target     :browser
                                :output-dir "resources/public/ui/js"
                                :asset-path "/ui/js"

                                :modules    {:nuvla-ui {:entries [sixsq.nuvla.ui.core]}}

                                :devtools   {:after-load        sixsq.nuvla.ui.core/mount-root
                                             :preloads          [devtools.preload
                                                                 day8.re-frame-10x.preload]
                                             :use-document-host false}

                                :dev        {:closure-defines  {sixsq.nuvla.ui.utils.defines/HOST_URL
                                                                #_"https://nuvla.io"
                                                                #_"https://localhost"
                                                                ;; Serve everything from the same host:
                                                                ;; host file needs this entry to point to localhost
                                                                ""
                                                                re_frame.trace.trace_enabled_QMARK_ true}
                                             :compiler-options {:infer-externs :auto}}

                                :release    {:closure-defines  {sixsq.nuvla.ui.utils.defines/HOST_URL ""}
                                             :compiler-options {:infer-externs :auto
                                                                :optimizations :advanced
                                                                :pseudo-names  false
                                                                :pretty-print  false}}}
                     :test     {:target     :node-test
                                :output-to  "out/node-tests.js"
                                :autorun    true
                                :compiler-options {:infer-externs true}}}}
