;; shadow-cljs configuration
{:lein              {:profile "+scljs"}

 :dev-http          {8280 {:root             "resources/public"
                           :push-state/index "ui/index.html"}}

 :open-file-command ["idea" :pwd "--line" :line :file]

 :repositories      {"sixsq-community-releases" {:url "https://nexus.sixsq.com/content/repositories/releases-community-rhel7/"}}

 :builds            {:nuvla-ui {:target            :browser
                                :release-version   "2.34.0-SNAPSHOT"
                                :output-dir        "resources/public/ui/js"
                                :asset-path        "/ui/js"
                                :js-options        {:ignore-exports true}
                                :module-hash-names true

                                :modules           {:nuvla-ui {:entries [sixsq.nuvla.ui.core]}}

                                :build-hooks       [(portal.shadow.remote/hook)
                                                    (sixsq.nuvla.ui.shadow-build-hooks/generate-version
                                                      "resources/public/ui/version")
                                                    (shadow.html/copy-file
                                                      "resources/public/ui/index.html.template"
                                                      "resources/public/ui/index.html")
                                                    (sixsq.nuvla.ui.shadow-build-hooks/copy-assets
                                                      [["node_modules/semantic-ui-css/themes"
                                                        "resources/public/ui/css/themes"]
                                                       ["node_modules/leaflet/dist/images"
                                                        "resources/public/ui/css/images"]
                                                       ["node_modules/semantic-ui-css/semantic.min.css"
                                                        "resources/public/ui/css/semantic.min.css"]
                                                       ["node_modules/react-datepicker/dist/react-datepicker.min.css"
                                                        "resources/public/ui/css/react-datepicker.min.css"]
                                                       ["node_modules/leaflet/dist/leaflet.css"
                                                        "resources/public/ui/css/leaflet.css"]
                                                       ["node_modules/leaflet-draw/dist/leaflet.draw.css"
                                                        "resources/public/ui/css/leaflet.draw.css"]
                                                       ["node_modules/leaflet-draw/dist/images/spritesheet.png"
                                                        "resources/public/ui/css/images/spritesheet.png"]
                                                       ["node_modules/leaflet-draw/dist/images/spritesheet-2x.png"
                                                        "resources/public/ui/css/images/spritesheet-2x.png"]
                                                       ["node_modules/leaflet-draw/dist/images/spritesheet.svg"
                                                        "resources/public/ui/css/images/spritesheet.svg"]])
                                                    (shadow-cljs-hash-assets-hook/hash-assets!
                                                      {:source-root        "resources/public/ui"
                                                       :target-root        "resources/public/ui"
                                                       :index              "index.html"
                                                       :files              ["css/nuvla-ui.css"
                                                                            "css/semantic.min.css"
                                                                            "css/react-datepicker.min.css"
                                                                            "css/leaflet.css"
                                                                            "css/leaflet.draw.css"]
                                                       :release-mode-only? true})]
                                :devtools          {:after-load        sixsq.nuvla.ui.core/mount-root
                                                    :preloads          [devtools.preload
                                                                        day8.re-frame-10x.preload
                                                                        dev.portal]
                                                    :use-document-host false}

                                :dev               {:closure-defines  {sixsq.nuvla.ui.utils.defines/HOST_URL
                                                                       #_"https://nuvla.io"
                                                                       #_"https://localhost"
                                                                       ;; Serve everything from the same host:
                                                                       ;; host file needs this entry to point to localhost
                                                                       ""
                                                                       re_frame.trace.trace_enabled_QMARK_ true}
                                                    :compiler-options {:infer-externs :auto}}

                                :release           {:closure-defines  {sixsq.nuvla.ui.utils.defines/HOST_URL ""}
                                                    :compiler-options {:infer-externs :auto
                                                                       :optimizations :advanced
                                                                       :pseudo-names  false
                                                                       :pretty-print  false}}}
                     :test     {:target    :karma
                                :output-to "target/ci.js"
                                :ns-regexp "-(spec|test)$"}}}
