;; shadow-cljs configuration
{:lein              {:profile "+scljs"}

 :open-file-command ["idea" :pwd "--line" :line :file]

 :repositories      {"sixsq-community-releases" {:url "https://nexus.sixsq.com/content/repositories/releases-community-rhel7/"}}

 :builds            {:nuvla-ui {:target     :browser
                                :output-dir "resources/public/js"
                                :asset-path "/js"

                                :modules    {:nuvla-ui {:entries [sixsq.nuvla.ui.core]}}

                                :devtools   {:http-root        "resources/public"
                                             :push-state/index "index.html"
                                             :http-port        8280
                                             :after-load       sixsq.nuvla.ui.core/mount-root
                                             :preloads         [devtools.preload]}

                                :dev        {:closure-defines {sixsq.nuvla.ui.utils.defines/HOST_URL "https://nuv.la"
                                                               :compiler-options                     {:infer-externs :auto}}}


                                :release    {:closure-defines  {sixsq.nuvla.ui.utils.defines/HOST_URL ""}
                                             :compiler-options {:infer-externs :auto
                                                                :optimizations :advanced}}}}}
