/** General **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body {
     font-family: "Poppins" !important;
}
main#nuvla-ui-content{
     padding: .6rem 2rem 5rem 2rem !important;
     background-color: #efefef;
}
.ui.segment {
    margin: 0 0 1rem 0 !important;
}
.nuvla-welcome main#nuvla-ui-content{
     padding: 2rem 2rem 5rem 2rem !important;
}

body .menu .item,
.ui.header,
h1, h2, H3, h4, h5, H6,
.ui.button {
     font-family: "Poppins" !important;
}
.ui.button {
     border-radius: 50px;
}
body a {
    color: #C10E12;
}

body .nuvla-deployments a {
    color: rgba(122, 101, 255, 1);
}

body .nuvla-edges a {
    color: rgba(22, 173, 146, 1);
}

body .nuvla-apps a {
    color: rgba(73, 135, 250, 1);
}

i.icon.sort:before {
    color: rgb(0 0 0 / 40%) !important;
}

body #nuvla-ui-main {
    background-color: #ffffff !important;
}

header{
     position: relative;
}
body #nuvla-ui-content {
     padding: 0;
}

body .ui.grid {
     margin: 0 !important;
     padding: 2rem;
}

.ui.red.statistic>.value,
.ui.red.statistics .statistic>.value,
.ui.statistics .red.statistic>.value,
i.red.icon {
    color: #ff0000 !important;
}
.section{
     padding: 4rem 2rem;
}
.button.center{
margin: 0 auto !important;
margin-top: 10px !important;
margin-bottom: 10px !important;
}
.pagination {
border: 1px solid rgb(0 0 0 / 20%) !important;
}
body p.sub {
     font-size: 1rem;
     margin: 0 0 2rem 0;
}
body h1.ui.header {
    font-size: 2.8rem;
}

body .ui.embed {
    border-radius: 6px;
    border: 1px solid #fff;
}
body .ui.button {
    font-weight: 400;
    margin: 0 0.5em 1em 0;
    padding: 10px 20px;
}
body .ui.primary.button, .ui.primary.buttons .button,
body .ui.primary.button:visited, .ui.primary.buttons .button:visited {
    background-color: #C10E12;
    border-radius: 50px;
}
body .ui.primary.button:hover, .ui.primary.buttons .button:hover {
    background-color: rgba(237, 43, 43, 1);
}

body .ui.primary.white-button.button, .ui.primary.white-button.buttons .button {
    background-color: #ffffff;
    color: #C10E12;
    border-radius: 50px;
}

body .ui.primary.white-button.button:hover, .ui.primary.white-button.buttons .button:hover {
    background-color: rgba(237, 43, 43, 1);
    color: #ffffff;
}

body .ui.secondary.button {
    background-color: #ffffff;
    border: 2px solid #C10E12;
    color: #C10E12;
    border-radius: 50px;
    padding: 8px 20px;
}
body .ui.secondary.button:hover {
    background-color: #C10E12;
    color: #ffffff;
}
body .ui.secondary.white-button.button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
}
body .ui.secondary.white-button.button:hover {
    background-color: #ffffff;
    color: #C10E12;
}

body i.icon.video.play::before {
    content: "\f144";
    font-size: 3rem;
}

body .card .ui.header {
    margin: 1rem 0;
}

body .card .content {
    padding: 2rem !important;
}

body .card .content p {
    margin: 0 0 1rem 0 !important;
}

body .ui.card, .ui.cards>.card {
    box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 15%), 0 0 0 1px rgb(0 0 0 / 20%);
}
body .ui.card:hover, .ui.cards>.card:hover {
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 25%), 0 0 0 1px rgb(0 0 0 / 20%) !important;
}

.ui.card .ui.bordered.image img,
.ui.card .ui.bordered.image svg,
.ui.card .ui.bordered.images .image,
.ui.card .ui.bordered.images img,
.ui.card .ui.bordered.images svg,
img.ui.bordered.image {
    border: 1px solid rgb(0 0 0 / 10%);
    border-left: none;
    border-top: none;
    border-right: none;
}

.ui.card>.content,
.ui.cards>.card>.content {
    margin-top: -1px;
}

body .ui.cards>.card {
    margin: 1rem;
}
body .ui.divider {
    margin: 1rem 0;
    }

body .divider-red {
    border-top: 1px solid #C10E12 !important;
    border-bottom: none;
}

@media only screen and (max-width: 767px){
body .ui.container {
    margin-left: 0!important;
    margin-right: 0!important;
}
}

/** General **/


/** Login **/

.login-left{
    background-image: url(/ui/images/bg-hero-sigin.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

.login-right{
     margin: 15% 10% !important;
}

@media only screen and (max-width: 767px){
     .login-left{
         height: auto;
     }

     .login-left .nuvla-ui-session-left
     {
      margin: 2rem !important;
     }
}
/** Login **/
/** left menu **/

#nuvla-ui-sidebar .item{
     padding: .7rem;
}
.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
    margin: 0 auto 0.4rem!important;
}
body #nuvla-ui-sidebar:after {
     background-image: none;
     background-color: #C10E12;
}

body .ui.inverted.menu {
     background: #C10E12;
}

body #nuvla-ui-sidebar .active {
     color: #ffffff !important;
     background-color: rgba(237, 43, 43, 1);
}

body #nuvla-ui-sidebar .active.nuvla-apps,
body .menu.vertical a.nuvla-apps:hover,
body .nuvla-apps .ui.breadcrumb {
     color: #ffffff !important;
     background-color: rgba(73, 135, 250, 1) !important;
}

body #nuvla-ui-sidebar .active.nuvla-deployments,
body .menu.vertical a.nuvla-deployments:hover,
body .nuvla-deployments .ui.breadcrumb {
     color: #ffffff !important;
     background-color: rgba(148, 130, 255, 1) !important;
}

body #nuvla-ui-sidebar .active.nuvla-edges,
body .menu.vertical a.nuvla-edges:hover,
body .nuvla-edges .ui.breadcrumb {
     color: #ffffff !important;
     background-color: rgba(22, 173, 146, 1) !important;
}

body .menu.vertical a:hover {
     background-color: rgba(237, 43, 43, .6) !important;
}



/** left menu **/
/** top menu **/
body .ui.menu {
     min-height: 3.5rem;
     border: none;
     box-shadow: 0 1px 5px 0 rgb(0 1 5 / 8%);
}

body .ui.breadcrumb {
     background: #C10E12;
     padding: 0.5em 1em 0.5em 1em;
     border-radius: 4px !important;
}

body .ui.breadcrumb a, body .ui.breadcrumb a:hover {
     color: #fff;
     font-size: 1rem;
}

body .ui.breadcrumb a::before {
     font-family: "Font Awesome 6 Pro";
     padding-right: 10px;
     font-weight: 300;
}

body .nuvla-welcome .ui.breadcrumb a::before {
     content: "\f015";
}

body .nuvla-dashboard .ui.breadcrumb a::before {
     content: "\f628";
}

body .nuvla-apps .ui.breadcrumb a::before {
     content: "\f5fd";
}

body .nuvla-deployments .ui.breadcrumb a::before {
     content: "\e027";
}

body .nuvla-edges .ui.breadcrumb a::before {
     content: "\f466";
}

body .nuvla-credentials .ui.breadcrumb a::before {
     content: "\f084";
}

body .nuvla-notifications .ui.breadcrumb a::before {
     content: "\f0f3";
}

body .nuvla-data .ui.breadcrumb a::before {
     content: "\f1c0";
}

body .nuvla-clouds .ui.breadcrumb a::before {
     content: "\f0c2";
}

body .nuvla-api .ui.breadcrumb a::before {
     content: "\f121";
}

body i.icon.chevron.right:before {
     font-family: "Font Awesome 6 Pro";
     content: "\f054";
     color: #ffffff;
     font-weight: 300;
}

body .right.menu .nuvla-close-menu-item {
     padding: 5px 15px !important;
}

body .ui.menu .right.menu .item>i.icon {
     opacity: 1 !important;
}


/** dashboard **/
.ui.statistic>.label, .ui.statistics .statistic>.label{
     font-family: "Poppins" !important;
}
.nuvla-dashboard .statistic.nuvla-apps,
.nuvla-dashboard .statistic.nuvla-deployments,
.nuvla-dashboard .statistic.nuvla-edges,
.nuvla-dashboard .statistic.nuvla-credentials{
     padding: 1.5rem 2rem;
     border-radius: 8px;
     margin: 1rem !important;
     flex: 1;
}
@media only screen and (max-width: 767px){
.nuvla-dashboard .statistic.nuvla-apps,
.nuvla-dashboard .statistic.nuvla-deployments,
.nuvla-dashboard .statistic.nuvla-edges,
.nuvla-dashboard .statistic.nuvla-credentials{
     flex: 100%;
}
}
.nuvla-dashboard .statistic.nuvla-apps{
     background-color: rgba(73, 135, 250, 1);
}

.nuvla-dashboard .statistic.nuvla-deployments{
     background-color: rgba(148, 130, 255, 1);
}

.nuvla-dashboard .statistic.nuvla-edges{
     background-color: rgba(22, 173, 146, 1);
}

.nuvla-dashboard .statistic.nuvla-credentials{
     background-color: #C10E12;
}
.nuvla-dashboard .statistic.nuvla-apps .value,
.nuvla-dashboard .statistic.nuvla-apps .label,
.nuvla-dashboard .statistic.nuvla-apps .icon,
.nuvla-dashboard .statistic.nuvla-deployments .value,
.nuvla-dashboard .statistic.nuvla-deployments .label,
.nuvla-dashboard .statistic.nuvla-deployments .icon,
.nuvla-dashboard .statistic.nuvla-edges .value,
.nuvla-dashboard .statistic.nuvla-edges .label,
.nuvla-dashboard .statistic.nuvla-edges .icon,
.nuvla-dashboard .statistic.nuvla-credentials .value,
.nuvla-dashboard .statistic.nuvla-credentials .label,
.nuvla-dashboard .statistic.nuvla-credentials .icon{
color: #ffffff !important;
}

.statistic .icon {
         margin: 0 auto;
         font-size: 2rem !important;
         margin-bottom: 0.8rem !important;
}
.ui.segment {
    overflow: hidden;
}
.table-wrapper{
    overflow: auto !important;
    padding: 0 !important;
}
.ui-header{
    width: calc(100% + 2rem);
    padding: .6rem 1rem .7rem 1rem;
    margin: -1rem -1rem 2rem -1rem !important;
color: #ffffff;
}

.nuvla-deployments .ui-header,
.nuvla-deployments .button{
    background-color: rgba(148, 130, 255, 1) !important;
    color: #ffffff;
}

.nuvla-deployments .button:hover{
    background-color: rgba(148, 130, 255, .9) !important;
     color: #ffffff;
}

.nuvla-edges .ui-header,
.nuvla-edges .button{
    background-color: rgba(22, 173, 146, 1) !important;
    color: #ffffff;
}

.nuvla-edges .button:hover{
    background-color: rgba(22, 173, 146, .9) !important;
     color: #ffffff;
}


.ui-header i.icon,
.ui-header i.icons {
    font-size: 1.5rem;
}

.nuvla-deployments .statistics .icons{
    text-align: center;
}

.nuvla-edges .statistics .black .icons,
.nuvla-deployments .statistics .black .icons{
    color: rgba(0,0,0,.87);
}
.nuvla-edges .statistics .grey .icons,
.nuvla-deployments .statistics .grey .icons{
    color: #767676;
}
.nuvla-edges .statistics .green .icons,
.nuvla-deployments .statistics .green .icons{
    color: #21ba45;
}
.nuvla-edges .statistics .red .icons,
.nuvla-deployments .statistics .red .icons{
    color: #ff0000;
}
.nuvla-edges .statistics .orange .icons,
.nuvla-deployments .statistics .orange .icons{
    color: #f2711c;
}

.nuvla-edges .statistics .icons{
    color: rgba(22, 173, 146, 1);
    text-align: center;
}

.nuvla-deployments .statistics i.icons .icon:first-child,
.nuvla-edges .statistics i.icons .icon:first-child {
    margin-right: 0;
}
.ui.statistics {
    margin: 0;
}
.ui.statistics>.statistic {
    flex: 1 !important;
    margin: 0 1rem 1rem 1rem !important;
}
@media only screen and (max-width: 767px){
.ui.statistics>.statistic {
    flex: 100% !important;
}
}

/** dashboard **/

/** deployments **/
.app-icon-name img{
     max-width: 50px !important;
     max-height: 40px !important;
     margin-right: 10px;
     height: auto !important;
}
/** deployments **/




/** footer **/
.footer a {
  color: #C10E12 !important;
}

.footer .ui.grid {
    margin: 0 !important;
    padding: .8rem;
}

.ui.segment.footer {
    padding: 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
    margin: 0 !important;
    box-shadow: none;
    position: fixed;
bottom: 0;
width: calc(100% - 10rem);
}
@media only screen and (max-width: 980px){
.ui.segment.footer {
width: 100%;
}
}
/** footer **/

/** top menu **/
/**  Body content  **/
/** homepage  **/
/** homepage  **/
/**  Body content  **/
