
/*
  Styles on the nuvla-ui-wrapper and nuvla-ui-container allow for a 'sticky' footer
  that stays at the bottom of the window even if there's insufficient content.
*/

/*#app {height: 100%;
      background: #f7f7f7;}*/

#nuvla-ui-container {
    flex: 1;
}

/*
  Inserts a theme-dependent image. Themes would normally override only the
  URL for the background image itself.
*/
.nuvla-ui-logo {
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*
  Allows the container to scroll with overview in the x-direction.  Usually
  put on a Container to take advantage of the automatic width calculation of
  the Semantic UI Container.
*/
.nuvla-ui-x-autoscroll {
    overflow-x: auto;
}


/*
  Configures a block element (usually a div) to provide the logo.
*/
.nuvla-ui-bkg-image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: "20ex";
    height: "15ex";
}

/*
  The main content sits in the right column. The minimum height is
  the page height to force the footer to the bottom of the page.
  There are three elements in this column: the header, the content,
  and the footer.  These are arranged vertically.
*/

#nuvla-ui-main {
    display: flex !important; /* will be block without !important */
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5 !important;
    margin-left: 0!important;
}

#nuvla-ui-main.sidebar-visible {
    max-width: calc(100% - 120px) !important;
}

.ui.visible[class*="medium thin"].left.sidebar~.pusher {
   -webkit-transform: translate3d(60px,0,0);
   transform: translate3d(120px,0,0);
}

.ui[class*="medium thin"].left.sidebar, .ui[class*="medium thin"].right.sidebar {
   width: 120px;
}


/*
  Main panel for the content.  This will expand vertically as
  needed to force the footer to the bottom of the page.
*/
.nuvla-ui-content {
    display: flex;
    flex-grow: 1;
    padding: 1ex;
}


/* Page footer styles. */
.nuvla-ui-footer {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 1ex;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    margin: 1ex 0 0 0;
}

.nuvla-ui-footer-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.nuvla-ui-footer-center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.nuvla-ui-footer-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nuvla-ui-header {
    height: 30px;
    border-radius: unset !important;
}

/*
 * FIXME: Use the classes from the Semantic UI stylesheet for messages.
 */

.nuvla-ui-error {
    background-color: salmon !important;
}

.nuvla-ui-info {
    background-color: skyblue !important;
}

.nuvla-ui-success {
    background-color: lightgreen !important;
}

.nuvla-ui-section-header {
    background-color: Gainsboro !important;
}


/*
 * Override the size of inputs within a search dropdown to avoid
 * weird interaction effects where the focus passes to the dropdown
 * rather than the search input field.
 *
 * This is not a perfect solution as the input field for the search
 * will take up the entire line, even if the existing items are
 * short.
 */

div.search.dropdown > input {
    width: 100% !important;
}

.ui.styled.accordion > .active.title {
    background-color: lightgrey;
}

/*
 * Misc
 */

.nuvla-command {
    font-family: "Courier New", Courier, monospace;
}