name: Bundle Size

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./code

jobs:
  bundle-size:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Analyze bundle size
        run: npx shadow-cljs run shadow.cljs.build-report nuvla-ui bundle-size-report-${{ github.sha }}.html
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: bundle-size-${{ github.sha }}
          path: ./resources/public/ui/js/bundle-size-report-${{ github.sha }}.html
          retention-days: 30
